<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
  body{
    background-color: navajowhite;
  }
  table, th, td {
    border: 2px solid black;
    font-family: Garamond,serif;
    font-size: larger;

  }
  th{
    background-color: cornsilk;
  }
  td{
    background-color: beige;

  }

</style>
<body>
<div th:if="${ not#lists.isEmpty(allTemps)}">
  <table>
    <tr>
      <th colspan="4" th:text="${Namn}"></th>
    </tr>
    <tr>
      <th>Id</th>
      <th>Temperatur</th>
      <th>Datum</th>
      <th>Tid</th>

    </tr>
    <tr th:each="t : ${allTemps}">
      <td th:text="${t.id}"></td>
      <td th:text="${t.temperatur}"></td>
      <td th:text="${t.tid.toLocalDate()}"></td>
      <td th:text="${t.tid.toLocalTime()}"></td>
    </tr>
  </table>
</div>

</body>
</html>