<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Välj Data</title>
</head>
<style>
    input{/* Knapparna */
        width: 200px;
        height: 50px;
        background-color: lightblue;
        font-family: Garamond, serif;
        font-size: larger;
        border-radius: 15px; /* Rundar Knapparna! */
    }
    .flex-box{
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
    }
    .flex-child{
        flex: 1;
    }

    body{
        background-color: navajowhite;
    }

</style>
<body>

<div class="flex-box">
    <div class="flex-child">
<form action="frej" method="post">
  <input type="submit" value="Frejs SensorVärden">
</form>
</div>
    <div class="flex-child">
<form action="bjorn" method="post">
  <input type="submit" value="Björns SensorVärden">
</form>
</div>

    <div class="flex-child">
<form action="jonas" method="post">
    <input type="submit" value="Jonas SensorVärden">
</form>
</div>

    <div class="flex-child">
        <form action="acke" method="post">
            <input type="submit" value="Ackes SensorVärden">
        </form>
    </div>

<div class="flex-child">
<form action="totalen" method="post">
    <input type="submit" value="Alla SensorVärden">
</form>
</div>
    <div class="flex-child">
        <form action="senaste" method="post">
            <input type="submit" value="Senaste Värden">
        </form>
    </div>
    <div class="flex-child">
        <form action="varmaste" method="post">
            <input type="submit" value="Högsta Temperaturer">
        </form>
    </div>
    <div class="flex-child">
        <form action="kallaste" method="post">
            <input type="submit" value="Lägsta Temperaturer">
        </form>
    </div>

</div>

</body>
</html>